#editwrap {
	width: 100%;
}

#map {
	width: 100%;
	border: 1px  solid  black;
}
#map .row {
	float:left;
	width: 100%;
}
#map .row .col{
	float:left;
	text-align: center;
	border:  1px solid grey;
	background-color: #aaa;
	height:84px;
	line-height:42px;
	font-size: 12px;
}

#map .row .col span{
}
