body{
	background-color: #e0e0e0;
}
#edit{
	width: calc(100vw);
	height: calc(30vh);
}
#editwrap {
	width: 100%;
}

#map {
	height: calc(30vh);
	width: 100%;
	overflow: hidden;
}
#map .row {
	float:left;
	width: 100%;
}
#map .row .col{
	float:left;
	text-align: center;
	overflow: hidden;
	background-color: #002F6C;
	padding:0;
}
#map .row .col span{
	color: #fff;
	font-weight: bold;
	font-family: serif;
	display:div;
	margin: 0;
	padding:0;
}
